flask
python-dotenv
flask-wtf
flask-sqlalchemy
flask-migrate
flask-login
email-validator
pre-commit
black
flask-mail
pyjwt
flask-bootstrap
flask-moment
flask-babel
guess_language-spirit
requests
flask_cli