    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('istemal_krta', username=post2.author.username) }}">
                    <img src="{{ post2.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('istemal_krta', username=post2.author.username) }}">
                    {{ post2.author.username }}
                </a>
                says:
                <br>
                {{ post2.body }}
            </td>
        </tr>
    </table>