{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user_krta1.avatar(256) }}"></td>
            <td>
                <h1>User: {{ user_krta1.username }}</h1>
                {% if user_krta1.about_me %}<p>{{ user_krta1.about_me }}</p>{% endif %}
                {% if user_krta1.last_seen %}<p>Last seen on: {{ user_krta1.last_seen }}</p>{% endif %}
                <p>{{ user_krta1.followers.count() }} followers, {{ user_krta1.followed.count() }} following.</p>
                {% if user_krta1 == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% elif not current_user.is_following(user_krta1) %}
                <p>
                    <form action="{{ url_for('follow', username=user_krta1.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Follow', class_='btn btn-default') }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('unfollow', username=user_krta1.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow', class_='btn btn-default') }}
                    </form>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% for post2 in posts_krta1 %}
        {% include "_post.html" %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}